@model SiteReservationSystem.Web.Models.Employee

<h1>Employee Details</h1>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.User.Email</dd>

        <dt class="col-sm-2">Access</dt>
        <dd class="col-sm-10">@Model.AccessPermissions</dd>

        <dt class="col-sm-2">Active</dt>
        <dd class="col-sm-10">@Model.IsActive</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>