@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

@{
    Context.Session.SetString("Something", "Value");
}

<h3>Quick Links:</h3>
<ul>
    <li><a href="@Url.Action("Employees", "Admin")">Manage Employees</a></li>
    <li><a href="@Url.Action("Sites", "Admin")">Manage Sites</a></li>
    <li><a href="@Url.Action("SiteTypes", "Admin")">Manage Site Types & Pricing</a></li>
    <li><a href="@Url.Action("Index", "Fees")">Manage Fees</a></li>
    <li><a href="@Url.Action("ReservationsReport", "Admin")">Generate Reservation Reports</a></li>
</ul>